---
- name: Install sudo
  apt:
    name: sudo
    update_cache: yes
    cache_valid_time: 3600
    state: latest
  when: ansible_distribution == 'Debian'

- name: sudo %adm
  copy:
    src: etc/sudoers.d/adm
    dest: /etc/sudoers.d/adm
    owner: root
    group: root
    mode: 0600

- name: User cees
  user:
    name: cees
    comment: Cees van de Griend
    shell: /bin/bash
    groups: adm, sudo, ssh
    state: present

- name: User authorized_key
  authorized_key:
    user: cees
    state: present
    key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAtBQ/gFn5J5/S2mBISA5lxoxxt3Kv0Tv3WGPEJQMqdu cees@griend.eu
